<header>
  <div class="header_container">
    <div class="header_sub">
      <div class="logo">
        <h1 class="notranslate">
          <a href="{{ '/' | relative_url }}">❁ Flow daily ❁</a>
        </h1>
      </div>
    </div>
  </div>
  <nav>
    <ul>
      <li class="{% if page.url == '/' %}active{% endif %}">
        <a href="/">Home</a>
      </li>
      <li class="{% if page.url contains '/blog' %}active{% endif %}">
        <a href="/blog">Blog</a>
      </li>
      <li class="{% if page.url contains '/about' %}active{% endif %}">
        <a href="/about">About</a>
      </li>
      <li class="{% if page.url contains '/contact' %}active{% endif %}">
        <a href="/contact">Contact</a>
      </li>
    </ul>
  </nav>
</header>
